---
layout: layouts/base.njk
title: Topic 01 - Page 01
jsFiles: ["./extra.js"]
cssFiles: ["./styles-sass.scss"]
---
<h1>{{title}}</h1>
<p class="style">Style test</p>
<p class="import">Import test</p>
<p class="sass">Sass test</p>
<p class="shared">Shared test</p>
<p class="guide">Guide test</p>
<code>Hi, this is code.</code>