---
layout: layouts/base.njk
title: Page 01 FR
permalink: "{{ page.filePathStem }}.html"
---
<h1>{{title}}</h1>
<p class="style">Style test</p>
<p class="import">Import test</p>
<p class="sass">Sass test</p>
<p class="shared">Shared test</p>
<p class="guide">Guide test</p>