---
layout: layouts/base.njk
title: Contents
jsFiles:
breadcrumb: ["Subject 1", "Topic 2"]
useDefaultHeader: false
---
<header class="ians-column-wide-1 mt-3">
  <h1>{{title}}</h1>
</header>

<main>
  <div class="ians-column">

    {{ courseContent.tree | safe }}

  </div>
</main>