<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
    <link rel="stylesheet" href="/shared/css/guide.css">
    <link rel="stylesheet" href="/shared/css/shared.css">
  </head>
  <body>
    <h1>Contents</h1>
    <p class="shared">Shared test</p>
    <p class="guide">Guide test</p>
    <ul>
      <li>
        <a href="/page-01/">page-01</a>
      </li>
      <li>
        <a href="/page-01/index_fr/">page-01-fr</a>
      </li>
      <li>
        <a href="/topic-01/page-01/">topic-01/page-01</a>
      </li>
      <li>
        <a href="/topic-01/page-01/index_fr/">topic-01/page-01-fr</a>
      </li>
    </ul>
    <ul>
      <li>Need to include node_module js and css</li>
      <li>SASS</li>
      <li>Build</li>
      <li>https://stackoverflow.com/questions/70042979/why-does-javascript-vite-js-multi-page-app-fail-on-build</li>
    </ul>
  </body>
</html>