---
layout: layouts/base.njk
title: contents
jsFiles:
cssFiles:
---

<h1>{{title}}</h1>

<ul>
  <li>I have node import working</li>
  <li>New versions of 11ty work with copy pass setting</li>
  <li>TODO</li>
  <ul>
    <li>CSS process and import  - done for dev</li>
    <li>SASS - done for dev</li>
    <li>Next step is to clean structure to reflect what I want DONE</li>
    <li>Topic added DONE</li>
    <li>Use layout in every page.</li>
    <li>Check reload works for all files</li>
    <li>FR page permalink</li>
  </ul>
</ul>