---
jsFiles: ["./main.js"]
cssFiles: ["./styles.css"]
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title  }}</title>
    {% set css %}
    {% include "../../shared/css/guide.css" %}
    {% include "../../shared/css/shared.css" %}
    {% endset %}

    {% if devEnvironment.environment === 'dev' %}
      <link rel="stylesheet" href="/shared/css/guide.css">
      <link rel="stylesheet" href="/shared/css/shared.css">
    {% else %}
      <style>
        {{css | cssmin | safe}}
      </style>
    {% endif %}

    {% for file in cssFiles %}
      <link rel="stylesheet" href="{{file | sasstocss}}">
    {% endfor %}
  </head>
  <body>

    <main>
      {{ content | safe }}
    </main>

    <footer>&copy; EUROCONTROL</footer>

    {% for file in jsFiles %}
      <script type="module" defer src="{{file}}"></script>
    {% endfor %}

  </body>
</html>