@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/*  

.##.....##....###....########...######.
.##.....##...##.##...##.....##.##....##
.##.....##..##...##..##.....##.##......
.##.....##.##.....##.########...######.
..##...##..#########.##...##.........##
...##.##...##.....##.##....##..##....##
....###....##.....##.##.....##..######.
 */

:root {
  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-80: 0.8rem;
  --size-100: 1rem;
  --size-120: 1.1rem;
  --size-200: 1.5rem;
  --size-300: 2rem;
  --size-400: 2.25rem;
  --size-500: 3rem;

  /* Type scale */
  --step--2: clamp(0.69rem, calc(0.68rem + 0.05vw), 0.72rem);
  --step--1: clamp(0.83rem, calc(0.81rem + 0.13vw), 0.9rem);
  --step-0: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.12rem + 0.4vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.32rem + 0.62vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.54rem + 0.92vw), 2.2rem);
  --step-4: clamp(2.07rem, calc(1.81rem + 1.31vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.12rem + 1.84vw), 3.43rem);

  --column-max-width: 75ch;

  --ians-colour-light-blue: #2990ea;
  --ians-colour-dark-blue: #003366;
  --ians-colour-light-grey: #efefef;
  --ians-colour-dark-highlight: gold;

  --ians-colour-light-blue-rgb: 41, 144, 234;
  --ians-colour-dark-blue-rgb: 0, 51, 102;
  --ians-colour-light-grey-rgb: 239, 239, 239;

  --ians-grid-gaps: 1rem;
  --ians-size-sides-small: 0.5rem;
  --ians-footer-height: 7rem;
  --ians-lms-banner-height: 54px;
}

/* .##....##..#######..########..##.....##.##.......########
/* .###...##.##.....##.##.....##.###...###.##............##.
/* .####..##.##.....##.##.....##.####.####.##...........##..
/* .##.##.##.##.....##.########..##.###.##.##..........##...
/* .##..####.##.....##.##...##...##.....##.##.........##....
/* .##...###.##.....##.##....##..##.....##.##........##.....
/* .##....##..#######..##.....##.##.....##.########.######## */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 80vh;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
.##.....##.########.####.##........######....
.##.....##....##.....##..##.......##....##...
.##.....##....##.....##..##.......##.........
.##.....##....##.....##..##........######....
.##.....##....##.....##..##.............##...
.##.....##....##.....##..##.......##....##...
..#######.....##....####.########..######....
*/

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pl-0-25 {
  padding-left: 0.25rem !important;
}

.pr-0-25 {
  padding-right: 0.25rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-0-25 {
  padding: 0.25rem !important;
}

.p-0-5 {
  padding: 0.5rem !important;
}

.p-0-75 {
  padding: 0.75rem !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-1-5 {
  font-size: 1.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.ians-text-center {
  text-align: center !important;
}

.ians-text-left {
  text-align: left !important;
}

.ians-db {
  display: block !important;
}

.ians-dib {
  display: inline-block !important;
}

.ians-vis-hide:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ians-dark-bold-highlight {
  background-color: var(--ians-colour-dark-highlight);
  color: var(--ians-colour-dark-blue);
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.ians-dev-notes {
  background-color: yellow;
  border-radius: 3px;
  border: 1px dashed green;
  padding: 1rem;
}

/* 

..######...#######..########..########
.##....##.##.....##.##.....##.##......
.##.......##.....##.##.....##.##......
.##.......##.....##.########..######..
.##.......##.....##.##...##...##......
.##....##.##.....##.##....##..##......
..######...#######..##.....##.########

*/

body {
  background: #fff;
  color: var(--ians-colour-grey-dark);
  line-height: 1.7;
  font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 300;
  font-size: var(--step-0);
  padding: 0;
}

header {
  width: 100%;
  padding: 0 var(--ians-size-sides-small);
}

.ians-breadcrumb {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--ians-colour-light-blue);
  text-transform: uppercase;
  text-align: right;
  font-size: small;
  align-self: start;
  /* Unlike other paragraphs, we want this to align fully right. */
  max-width: 100%;
}

.ians-breadcrumb::before {
  content: ":: ";
  font-weight: bold;
  width: 3px;
  display: inline-block;
  height: inherit;
  display: inline-block;
  margin-right: 0.75rem;
}

main {
  min-height: calc(
    100vh - var(--ians-lms-banner-height) - var(--ians-footer-height)
  );
  /* min-height: calc(100lvh - var(--ians-lms-banner-height)); */
}

.ians-text-instruction {
  color: hotpink;
  font-weight: bold;
}

.ians-text-instruction::before {
  content: "\2192";
  display: inline-block;
  margin-right: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--ians-colour-light-blue);
  margin-top: var(--size-200);
  margin-bottom: var(--size-100);
  font-weight: 300;
}

h1 {
  color: var(--ians-colour-dark-blue);
  font-size: var(--step-4);
  line-height: 1em;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--step-3);
  font-weight: 400;
  margin-top: var(--size-400);
}

/* If h2 is first thing inside a div, the margin of the div collapses
   and the h2 margin pushes the div down, leaving a gap between the
	 two container divs. This selector replaces margin with padding for 
	 this scenario.
	 */
div > h2:first-child {
  margin-top: 0;
  padding-top: var(--size-400);
}

h3 {
  color: var(--ians-colour-dark-blue);
  font-size: var(--step-2);
  font-weight: 700;
  margin-top: var(--size-400);
  margin-bottom: var(--size-75);
}

h4 {
  font-size: var(--step-1);
}

iframe {
  display: block;
}

p,
li {
  max-width: var(--column-max-width);
}

p,
blockquote {
  margin-top: var(--size-200);
  margin-bottom: var(--size-100);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0;
}

a {
  color: var(--ians-colour-light-blue);
  text-decoration: underline;
  text-decoration-color: var(--ians-colour-light-blue);
  background-color: transparent;
  transition: all 0.3s;
}

a:hover {
  color: white;
  text-decoration-color: white;
  background-color: var(--ians-colour-light-blue);
}

button {
  cursor: pointer;
  background-color: white;
  padding: var(--size-25) var(--size-75);
  color: var(--ians-colour-light-blue);
  border: 1px solid var(--ians-colour-light-blue);
  border-radius: 3px;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--ians-colour-light-blue);
  color: white;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--ians-colour-light-blue);
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

/* Remove all mouse-triggered focus styles without breaking keyboard accessibility */
*:focus:not(:focus-visible) {
  outline: none !important;
}

strong {
  font-weight: 700;
}

figcaption {
  font-size: var(--size-75);
  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-200);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: var(--ians-colour-dark-blue);
}

.ians-bg-dark-blue *::selection {
  color: var(--ians-colour-dark-blue);
  background: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: var(--ians-footer-height);
  margin-top: 3rem;
  color: white;
  background-color: #0f1120;
}

/* 

..######...#######..##........#######..########.
.##....##.##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.########.
.##.......##.....##.##.......##.....##.##...##..
.##....##.##.....##.##.......##.....##.##....##.
..######...#######..########..#######..##.....##

 */

/* TEXT */

.ians-text-white {
  color: white;
}

.ians-text-light-blue {
  color: var(--ians-colour-light-blue);
}

.ians-text-dark-blue {
  color: var(--ians-colour-dark-blue);
}

.ians-text-light-grey {
  color: var(--ians-colour-light-grey);
}

.ians-text-pop {
  text-shadow: 1px 1px black;
}

/* BG */

.ians-bg-light-blue {
  background-color: var(--ians-colour-light-blue);
}

.ians-bg-dark-blue {
  background-color: var(--ians-colour-dark-blue);
}

.ians-bg-light-grey {
  background-color: var(--ians-colour-light-grey);
}

.ians-bg-light-blue-glass {
  background-color: rgba(var(--ians-colour-light-blue-rgb), 0.6);
  backdrop-filter: blur(10px);
}

.ians-bg-dark-blue-glass {
  background-color: rgba(var(--ians-colour-dark-blue-rgb), 0.6);
  backdrop-filter: blur(10px);
}

/* 

.##..........###....##....##..#######..##.....##.########...
.##.........##.##....##..##..##.....##.##.....##....##......
.##........##...##....####...##.....##.##.....##....##......
.##.......##.....##....##....##.....##.##.....##....##......
.##.......#########....##....##.....##.##.....##....##......
.##.......##.....##....##....##.....##.##.....##....##......
.########.##.....##....##.....#######...#######.....##......

 */

.ians-column,
.ians-column-wide-1,
.ians-column-wide-2,
.ians-column-wide-3,
.ians-column-wide-4 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--ians-size-sides-small);
}

.ians-column {
  max-width: var(--column-max-width);
}

.ians-column-wide-1 {
  max-width: calc(var(--column-max-width) + 4rem);
}

.ians-column-wide-2 {
  max-width: calc(var(--column-max-width) + 12rem);
}

.ians-column-wide-3 {
  max-width: calc(var(--column-max-width) + 20rem);
}

.ians-column-wide-4 {
  max-width: calc(var(--column-max-width) + 28rem);
}

/* 

.##.....##.########.####.##........######....
.##.....##....##.....##..##.......##....##...
.##.....##....##.....##..##.......##.........
.##.....##....##.....##..##........######....
.##.....##....##.....##..##.............##...
.##.....##....##.....##..##.......##....##...
..#######.....##....####.########..######....

 */

.ians-welcome-page-title {
  min-height: 85vh;
  background-color: #036;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  padding: 0 0.5rem;
  display: flex;
}

.ians-welcome-page-title > div {
  align-self: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.ians-welcome-page-title h1 {
  color: white;
  max-width: 20ch;
}

.ians-welcome-page-title > div p {
  max-width: 50ch;
  margin-top: 0;
}

div[class^="ians-video"] {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

div[class^="ians-video"] iframe,
div[class^="ians-video"] object,
div[class^="ians-video"] embed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ians-video-16-9 {
  padding-bottom: 56.25%;
}

.ians-lms-banner {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--ians-colour-light-blue);
  height: var(--ians-lms-banner-height);
  overflow: hidden;
  z-index: 1000;
}

.ians-lms-banner a {
  display: block;
  line-height: var(--ians-lms-banner-height);
  height: var(--ians-lms-banner-height);
  color: white;
  font-weight: bold;
  padding-left: 2rem;
}

.ians-grid-no-col-gap {
  grid-column-gap: 0 !important;
}

.ians-grid-no-row-gap {
  grid-row-gap: 0 !important;
}

/*  

.########..........##.....##.########.
.##.....##.........###...###.##.....##
.##.....##.........####.####.##.....##
.########..#######.##.###.##.##.....##
.##.....##.........##.....##.##.....##
.##.....##.........##.....##.##.....##
.########..........##.....##.########.

*/

@media screen and (min-width: 720px) {
  /* ..######...########..####.########.
	/* .##....##..##.....##..##..##.....##
	/* .##........##.....##..##..##.....##
	/* .##...####.########...##..##.....##
	/* .##....##..##...##....##..##.....##
	/* .##....##..##....##...##..##.....##
	/* ..######...##.....##.####.########. */

  .ians-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-5 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-5 > *:nth-child(-1n + 3) {
    grid-column: span 5;
  }
  .ians-grid-5 > *:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 5;
  }
  .ians-grid-5 > *:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 8 / span 5;
  }

  /* .##.....##.########.####.##........######.
	/* .##.....##....##.....##..##.......##....##
	/* .##.....##....##.....##..##.......##......
	/* .##.....##....##.....##..##........######.
	/* .##.....##....##.....##..##.............##
	/* .##.....##....##.....##..##.......##....##
	/* ..#######.....##....####.########..######. */

  .ians-welcome-page-title {
    min-height: 65vh;
    padding: 0 1rem;
  }

  .ians-welcome-page-title h1 {
    margin: 0;
    padding: 0;
  }
}

/* 

.########..........##........######.....
.##.....##.........##.......##....##....
.##.....##.........##.......##..........
.########..#######.##.......##...####...
.##.....##.........##.......##....##....
.##.....##.........##.......##....##....
.########..........########..######.....

 */

@media screen and (min-width: 1024px) {
  /* ..######...#######..########..########
	/* .##....##.##.....##.##.....##.##......
	/* .##.......##.....##.##.....##.##......
	/* .##.......##.....##.########..######..
	/* .##.......##.....##.##...##...##......
	/* .##....##.##.....##.##....##..##......
	/* ..######...#######..##.....##.######## */

  h1 {
    margin-bottom: 4rem;
  }

  .ians-breadcrumb {
    margin-top: 3rem;
  }

  /* ..######...########..####.########.
	/* .##....##..##.....##..##..##.....##
	/* .##........##.....##..##..##.....##
	/* .##...####.########...##..##.....##
	/* .##....##..##...##....##..##.....##
	/* .##....##..##....##...##..##.....##
	/* ..######...##.....##.####.########. */

  .ians-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-5 > *:nth-child(-1n + 3) {
    grid-column: span 3;
  }
  .ians-grid-5 > *:nth-last-child(2) {
    grid-row-start: auto;
    grid-column: span 3;
  }
  .ians-grid-5 > *:nth-last-child(1) {
    grid-row-start: auto;
    grid-column: span 3;
  }

  /* .##.....##.########.####.##........######.
	/* .##.....##....##.....##..##.......##....##
	/* .##.....##....##.....##..##.......##......
	/* .##.....##....##.....##..##........######.
	/* .##.....##....##.....##..##.............##
	/* .##.....##....##.....##..##.......##....##
	/* ..#######.....##....####.########..######. */

  .ians-welcome-page-title > div p {
    max-width: 40ch;
  }
}

/* .########.########....###....########.##.....##.########...######.
/* .##.......##.........##.##......##....##.....##.##.....##.##....##
/* .##.......##........##...##.....##....##.....##.##.....##.##......
/* .######...######...##.....##....##....##.....##.########...######.
/* .##.......##.......#########....##....##.....##.##...##.........##
/* .##.......##.......##.....##....##....##.....##.##....##..##....##
/* .##.......########.##.....##....##.....#######..##.....##..######. */

.ians-hero-image {
  max-width: none;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 50vmin;
}

.ians-card img {
  max-width: none;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 20vmin;
}

.ians-card-over {
  position: relative;
}

.ians-card-over img {
  max-width: none;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 30vmin;
}

.ians-card-over > div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
