---
layout: layouts/base.njk
title: Page 01 Bonjour!
breadcrumb: ["Subject 01", "Topic 01"]
permalink: "{{ page.filePathStem }}.html"
---
<div class="ians-column">
  <p>xxx</p>
  {% image "images/sci-fi.jpg", "alt" %}
</div>