---
permalink: "_direct-access/placeholder.html"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ metadata.courseTitle }} placeholder</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body class="relative ians-fix-short">
		<header
			class="ians-welcome-page-title"
			style="background-image: linear-gradient( 
        45deg
        , rgba(0, 51, 102, 1) 0%, rgba(0, 51, 102, 0.5) 100% ),url({{ metadata.syllabusImageURL }}); text-shadow: 1px 1px 0 black; min-height: 45vh;"
		>
			<div class="ians-column-wide-2 ians-grid-2 ians-grid-spaced">
				<h1>Placeholder</h1>
			</div>
		</header>

		<footer>
			<p>&copy; EUROCONTROL</p>
		</footer>

		<script src="main.js"></script>
	</body>
</html>
